<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %> </title>
    <script src="https://kit.fontawesome.com/d00c85de61.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('nav') %> 

    <div class="container mx-auto">
        <%- body %> 
    </div>

</body>

</html>