<div class="bg-slate-900 h-16">
    <p class="text-3xl font-bold pt-4 mx-10 text-white">Aldi Abdillah</p>
    <ul class="flex justify-end gap-5 mx-10 text-white -mt-9">
        <li>
            <a href="/"
                class="font-semibold text-xl hover:text-slate-200">Home</a>
        </li>
        <li>
            <a href="/about"
                class="font-semibold text-xl hover:text-slate-200">About</a>
        </li>
        <li>
            <a href="/contact"
                class="font-semibold text-xl hover:text-slate-200">Contact</a>
        </li>
        <li>
            <a href="/product/5"
                class="font-semibold text-xl hover:text-slate-200">Product</a>
        </li>
    </ul>
</div>