<div class="mx-auto mt-20 font-mono text-center">
    <img src="img/1.jpg" alt="foto" class="w-96 mx-auto">
    <h1 class="mt-5 font-bold text-5xl">Aldi Abdillah</h1>
    <h3 class="mt-5 font-semibold text-3xl">Belajar Node JS</h3>
</div>