<div class="container mt-10">
    <h3 class="text-center font-bold text-4xl">Daftar Kontak</h3>
    <table class="border-collapse mt-10 mx-auto w-4/5">
        <thead>
            <tr>
                <th class="p-3 bg-slate-800 text-slate-200 rounded-tl-lg">#</th>
                <th class="p-3 bg-slate-800 text-slate-200">Nama</th>
                <th class="p-3 bg-slate-800 text-slate-200">No Hp</th>
                <th class="p-3 bg-slate-800 text-slate-200 rounded-tr-lg">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% if (contacts.length === 0) { %>
                <tr>
                    <td colspan="4">
                        <div class="bg-red-300 text-center text-base font-semibold rounded-lg py-5 mx-auto">Data kontak tidak ditemukan</div>
                    </td>
                </tr>
            <% } %>
            <% contacts.forEach((contact, i) => { i++ %>
            <tr>
                <td class="p-3 border-b-2 text-center border-slate-400"><%= i++ %> </td>
                <td class="p-3 border-b-2 text-center border-slate-400"><%= contact.nama %> </td>
                <td class="p-3 border-b-2 text-center border-slate-400"><%= contact.nohp %> </td>
                <td class="p-3 border-b-2 text-center border-slate-400">
                    <a href="/contact/<%= contact.nama %> "
                        class="bg-sky-500 text-white py-1 px-4 rounded-full hover:bg-sky-600">Detail</a>
                </td>
            </tr>
            <% }) %>

        </tbody>
    </table>
</div>